<!DOCTYPE html>
<html lang="fr">
<head>
{% include 'construction/header.html' %}
</head>
<body>

{% include 'construction/navigation.html' %}

        <div class="padding" id ="map-container">
            {{ url_for(request.endpoint) }}
            <div class="container">
                {% if url_for(request.endpoint) == '/carte' %}
                    {% include 'construction/carte_container.html' %}
                {% elif url_for(request.endpoint) == '/config' %}
                    {% for name, val in list_env %}
                        Var: {{ name }} = {{ val }}
                    {% endfor %}
                {% endif %}
            </div>
        </div>

{% include 'construction/footer.html' %}

</body>
{% if url_for(request.endpoint) == '/carte' %}
{% include 'construction/carte_script.html' %}
{% endif %}
</html>
