<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Lignes RATP">
    <meta name="author" content="">
    <title>RATP</title>

    <!-- Bootstrap Core CSS -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}">

    <!-- Theme CSS -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/freelancer-theme.min.css') }}">

    <!-- Custom CSS -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

    <!-- LeafLetJs CSS -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='leaflet/leaflet.css') }}">

    <!-- Style CSS -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}" charset="utf-8"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}" charset="utf-8"></script>

    <!-- Theme JavaScript -->
    <script src="{{ url_for('static', filename='js/freelancer-theme.min.js') }}" charset="utf-8"></script>

    <!-- leafletjs JS -->
    <script src="{{ url_for('static', filename='leaflet/leaflet.js') }}" charset="utf-8"></script>

    <!-- tile.stamen JS -->
    <script src="{{ url_for('static', filename='js/tile.stamen.js') }}" charset="utf-8"></script>

    <!-- d3.v3 JS -->
    <script src="{{ url_for('static', filename='js/d3.v3.min.js') }}" charset="utf-8"></script>

    <!-- queue.v1 JS -->
    <script src="{{ url_for('static', filename='js/queue.v1.min.js') }}" charset="utf-8"></script>

    <style type="text/css">
        .station {
            stroke: black;
        }

        .line {
            stroke-width: 5;
            fill: none;
            z-index: 1;
        }

        .box {
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
            border-radius: 6px;
            box-sizing: border-box;
            display: none;
            padding: 10px;
            display: block;
            color: white;
        }

        .box-title {
            width: 100%;
            font-weight: bold;
            font-size: 150%;
            border-bottom: 1px solid white;
        }

        .right-box {
            margin-right: 15px;
            position: absolute;
            right: 15px;
            top: 15px;
            min-width: 300px;
            z-index: 1000;
        }
    </style>
</head>
    <body>
        <nav class ="navbar navbar-default navbar-fixed-top" role ="navigation">
            <a class="navbar-brand"  href="#"><img id ="logo" src="image/bootstrap.png">Bootstrap</a>
            <div class ="container-fluid">
                <div class ="navbar-header">
                    <button type="button" class ="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
                        <span class="sr-only">Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class ="collapse navbar-collapse" id ="navbar-collapse-main">
                    <ul class ="nav navbar-nav navbar-right">
                        <li><a class="active" href="/">Home</a></li>
                        <li><a href="/config">Config</a></li>
                        <li><a href="/mysqlshow">MysqlShow</a></li>
                        <li><a href="/station.json">station.json</a></li>
                        <li><a href="/ratp">RATP</a></li>
                        <li><a href="/ratp2">RATP 2</a></li>
                        <li><a href="/test">test</a></li>
                        <li><a href="/test2">test2</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="padding" id ="map-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <p>Lorem ipsum dolor sit amet, qui ea delenit qualisque, ne duo tollit dolore hendrerit. Exerci postulant eos at, has causae electram id. Legimus contentiones eum te, eos eligendi vituperata ad, no ferri offendit referrentur vis. Homero virtute habemus ad sed, nec ferri viris in. Te labore adolescens ius, his consulatu eloquentiam ea, mea nulla appareat dignissim an. Ei his magna expetenda, nihil copiosae quo ut, percipit insolens mea an.
                        </p>
                    </div>
                    <div class="col-md-8">
                        <div id="map"></div>
                        <div id="rightbox" class="box right-box">
                            <div class="box-title">Informations</div>
                            <br><span style="font-style:italic;">Survolez une station</span>
                            <br><span><a href="../../index.php?page=metro" target="_blank" style="color: #3498db;">Information &amp; Détails techniques</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        var layer = new L.StamenTileLayer("terrain");
        var map = new L.Map("map", {
            center: new L.LatLng(48.8586, 2.3427),
            zoom: 12
        });
        map.addLayer(layer);
        // create a red polygon from an array of LatLng points
        //var latlngs = [[50.8586, 1.3427],[49.8586, 3.3427],[47.8586, 4.3427],[46.8586, 5.3427]];
        //var polygon = L.polygon(latlngs, {color: 'red'}).addTo(map);
        // zoom the map to the polygon
        //map.fitBounds(polygon.getBounds());

    var svg = d3.select(map.getPanes().overlayPane).append("svg");
    var linesGroup = svg.append("g").attr("class", "leaflet-zoom-hide");
    var stationsGroup = svg.append("g").attr("class", "leaflet-zoom-hide");

    var featureStation, featureLine;

    var transform = d3.geo.transform({point: projectPoint});
    var path = d3.geo.path().projection(transform);

    var rootWidth, previousWidth;

    var div = d3.select("#rightbox");

    queue()
        .defer(d3.json, "stations.json")
        .await(ready);

    function ready(error, stations) {
        featureStation = stationsGroup.selectAll(".station")
            .data(stations.features)
            .attr("id", function(d){ return "s" + d.properties.ID; })
            .style("z-index", function(d){ return Math.floor(50 - (d.properties.TRAFIC / 1000000)); })

        map.on("viewreset", reset);
        reset();

        // Reposition the SVG to cover the features.
        function reset() {
            var bounds = path.bounds(stations),
                topLeft = bounds[0],
                bottomRight = bounds[1];

            svg.attr("width", bottomRight[0] - topLeft[0])
                .attr("height", bottomRight[1] - topLeft[1])
                .style("left", topLeft[0] + "px")
                .style("top", topLeft[1] + "px");

            linesGroup.attr("transform", "translate(" + -topLeft[0] + "," + -topLeft[1] + ")");
            stationsGroup.attr("transform", "translate(" + -topLeft[0] + "," + -topLeft[1] + ")");

            featureLine.attr("d", path);

            if (rootWidth === undefined) { // rootWidth means max range for stations radius = 50
                rootWidth = bottomRight[0] - topLeft[0];
                previousWidth = rootWidth;
            }

            var newWidth = bottomRight[0] - topLeft[0];
            if (previousWidth != newWidth) {
                radius.range([2, 50 * (newWidth / rootWidth)]);
            }
            featureStation.attr("d", path.pointRadius(function(d) { return radius(d.properties.TRAFIC) }));
            previousWidth = newWidth;
        }

    }

    // Use Leaflet to implement a D3 geometric transformation.
    function projectPoint(x, y) {
        var point = map.latLngToLayerPoint(new L.LatLng(y, x));
        this.stream.point(point.x, point.y);
    }
    </script>
</html>
