    <script>
        var layer = new L.StamenTileLayer("terrain");
        var map = new L.Map("map", {
            center: new L.LatLng(48.8586, 2.3427),
            zoom: 12
        });
        map.addLayer(layer);



    //var Stamen_TonerLite = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner-lite/{z}/{x}/{y}.{ext}', {
    //     attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    //     subdomains: 'abcd',
    //     minZoom: 0,
    //     maxZoom: 20,
    //     ext: 'png'
    // });

    //var map = new L.Map("map", {
    //    center: new L.LatLng(48.853, 2.333),
    //    zoom: 12,
    //    layers: [Stamen_TonerLite],
    //});


// init---------------------------------------
//let clickCircle = '';
//let clickCircle1 = '';
let url_stations_ligne = "/stations_ligne_mysql/";
let url_station = "/station_mysql/";
let httpRequest;
let response;
var list_station;
var layerControl = false;
// ajout d'un écouteur d'évènement sur le select
let lgn = document.getElementById("lignes");
lgn.addEventListener("change", load_list, false);

// ajout d'un écouteur d'évènement sur le bouton
let bt_affich = document.getElementById("affich_ligne");
bt_affich.addEventListener("click", affich, false);



//function------------------------------------------------
function load_list() {
    lgn_val = lgn.options[lgn.selectedIndex].value;
    if (lgn_val){
        url_get = url_stations_ligne + lgn_val + "/";
        var xhr = new XMLHttpRequest();
        // On souhaite juste récupérer le contenu du fichier, la méthode GET suffit amplement :
        console.log("zoom :" + map.getZoom());
        console.log(url_get);
        xhr.open('GET', url_get);
        xhr.addEventListener('readystatechange', function() { // On gère ici une requête asynchrone
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) { // Si le fichier est chargé sans erreur
                list_station = JSON.parse(xhr.responseText);
                console.log(list_station);
                affich_AB(list_station);
            }
        });
        xhr.send(null); // La requête est prête, on envoie tout !
    }
}

function affich_AB(lst){
    var groupLayer = L.layerGroup();
    var line = [];
    color = {0 : 'yellow', 1: 'red', 2: 'blue', 3: 'green'}
    //alert(lst.stations.length + '\n' + lst.stations[0].geometry.coordinates[0] + '\n' + lst.stations[(lst.stations.length-1)].geometry.coordinates[0]);
    for(var i= 0; i < lst.stations.length; i++) {
        var imagepath = "/static/pictos/" + lst.stations[i].PICTO;
        var name_line = lst.stations[i].NAME;
        myIcon = L.icon({iconUrl: imagepath,iconSize: [19, 30]});
        groupLayer.addLayer(L.marker(
            [lst.stations[i].geometry.coordinates[1], lst.stations[i].geometry.coordinates[0]],
            {
                icon: myIcon,
                title: lst.stations[i].ID + ' ' + lst.stations[i].SEQUENCE + ' - ' + lst.stations[i].NAME,
                alt: lst.stations[i].SEQUENCE + ' - ' + lst.stations[i].NAME,
                riseOnHover: true,
                id_station: lst.stations[i].ID
            })
        .on('click', function(e){
            alert("hi. you clicked the marker at " + e.latlng);
            url_get = url_station + lgn_val + "/" + e.latlng.lat + "/" + e.latlng.lng + "/";
            console.log(url_get);
            xhr_ajax(url)
        }));

        result_color = color[lst.stations[i].COLOR]
        //L.circle([lst.stations[i].geometry.coordinates[1], lst.stations[i].geometry.coordinates[0]], 100, {color: result_color}).addTo(map);
        //L.marker([lst.stations[i].geometry.coordinates[1], lst.stations[i].geometry.coordinates[0]]).addTo(map);
        line.push([lst.stations[i].geometry.coordinates[1], lst.stations[i].geometry.coordinates[0]]);
    }
    //map.on('zoomend', function(){
    //    var currentZoom = map.getZoom();
    //    myIcon = L.icon({iconUrl: imagepath,iconSize: [38*currentZoom, 95*currentZoom]});
    //    marker.setIcon(busIcon);
    //});
    groupLayer.addLayer(L.polyline(line, {color: result_color}));
    groupLayer.addTo(map);
    console.log(line);
    if(layerControl === false) {
        layerControl = L.control.layers(null, null, {position: 'bottomleft'}).addTo(map);
    }
    layerControl.addOverlay(groupLayer, name_line);
    return false;
}

function xhr_ajax(url){
    var xhr = new XMLHttpRequest();
    xhr.open('GET', url);
    xhr.addEventListener('readystatechange', function() { // On gère ici une requête asynchrone
        if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) { // Si le fichier est chargé sans erreur
            return JSON.parse(xhr.responseText);
        }
    });
    xhr.send(null); // La requête est prête, on envoie tout !
}

function affich() {
    lgn_val = lgn.options[lgn.selectedIndex].value;
    if (lgn_val){
        //alert(lgn_val)
        clickCircle1 = L.circle([48.853, 2.333], 200).addTo(map);
        clickCircle = L.circle([48.853, 2.333], 1609 * 3, {color: '#f07300',fillOpacity: 0,opacity: 0.5}).addTo(map);
    } else {
        map.removeLayer(clickCircle1);
        map.removeLayer(clickCircle);
        alert("Selectionnez une ligne")
    }
}



/*
    var svg = d3.select(map.getPanes().overlayPane).append("svg");
    var linesGroup = svg.append("g").attr("class", "leaflet-zoom-hide");
    var stationsGroup = svg.append("g").attr("class", "leaflet-zoom-hide");

    var featureStation, featureLine;

    var transform = d3.geo.transform({point: projectPoint});
    var path = d3.geo.path().projection(transform);

    var rootWidth, previousWidth;

    var div = d3.select("#rightbox");

    queue()
        .defer(d3.json, "stations.json")
        .defer(d3.json, "lines.json")
        .await(ready);

    function ready(error, stations, lines) {
        // stations are ordered from the bigger one to the smaller one
        // like that, smaller circle will be on the top of bigger ones

        var radius = d3.scale.linear()
            .domain([0, d3.max(stations.features, function(d) { return +d.properties.TRAFIC; })])
            .range([2, 50]);

        featureStation = stationsGroup.selectAll(".station")
            .data(stations.features)
            .enter().append("path")
            .attr("class", "station")
            .attr("id", function(d){ return "s" + d.properties.ID; })
            .attr("d", path.pointRadius(function(d) { return radius(d.properties.TRAFIC) }))
            .style("fill", function(d) { return (d.properties.COLORS.indexOf('-') > 0 ? "#B8B8B8" : d.properties.COLORS); })
            .style("z-index", function(d){ return Math.floor(50 - (d.properties.TRAFIC / 1000000)); })
            .style("opacity", function(d) { return (d.properties.COLORS.indexOf('-') > 0 ? "0.7" : "1"); })
            .on("mouseover", function(d) {
                div.html('<div class="box-title">Informations</div></br>'
                      +  'Station : <span style="font-weight:bold;">' + d.properties.STATION
                      +  '</span><br/>Ville : <span style="font-weight:bold;">' + d.properties.CITY + ' ' + d.properties.QUARTER
                      // http://stackoverflow.com/questions/10809136/how-to-format-numbers-with-white-spaces-between-thousands
                      +  '</span><br/>Trafic : <span style="font-weight:bold;">' + ("" + d.properties.TRAFIC).replace(/\B(?=(\d{3})+(?!\d))/g, " ")
                      +  '</span><br/>Lignes : ' + getLines(d)
                      +  '</span><br/><a href="../../index.php?page=metro" target="_blank" style="color: #3498db;">Information & Dï¿½tails techniques</a>');

                var lines = d.properties.LINES.split('-');
                for (i = 0; i < lines.length; ++i) {
                    d3.selectAll('#l' + lines[i]).style("stroke", "black");
                }
            })
            .on("mouseout", function(d) {
                var lines = d.properties.LINES.split('-');
                var colors = d.properties.COLORS.split('-');
                for (i = 0; i < lines.length; ++i) {
                    d3.selectAll('#l' + lines[i]).style("stroke", colors[i]);
                }
            });

        featureLine = linesGroup.selectAll("lines")
            .data(lines.features)
            .enter()
            .append("path")
            .attr('class', 'line')
            .attr('id', function(d) { return 'l' + d.properties.LINE; })
            .attr("d", path)
            .style("stroke", function(d) { return d.properties.COLOR; });

        map.on("viewreset", reset);
        reset();

        // Reposition the SVG to cover the features.
        function reset() {
            var bounds = path.bounds(stations),
                topLeft = bounds[0],
                bottomRight = bounds[1];

            svg.attr("width", bottomRight[0] - topLeft[0])
                .attr("height", bottomRight[1] - topLeft[1])
                .style("left", topLeft[0] + "px")
                .style("top", topLeft[1] + "px");

            linesGroup.attr("transform", "translate(" + -topLeft[0] + "," + -topLeft[1] + ")");
            stationsGroup.attr("transform", "translate(" + -topLeft[0] + "," + -topLeft[1] + ")");

            featureLine.attr("d", path);

            if (rootWidth === undefined) { // rootWidth means max range for stations radius = 50
                rootWidth = bottomRight[0] - topLeft[0];
                previousWidth = rootWidth;
            }

            var newWidth = bottomRight[0] - topLeft[0];
            if (previousWidth != newWidth) {
                radius.range([2, 50 * (newWidth / rootWidth)]);
            }
            featureStation.attr("d", path.pointRadius(function(d) { return radius(d.properties.TRAFIC) }));
            previousWidth = newWidth;
        }
    }

    // Use Leaflet to implement a D3 geometric transformation.
    function projectPoint(x, y) {
        var point = map.latLngToLayerPoint(new L.LatLng(y, x));
        this.stream.point(point.x, point.y);
    }

    function getLines(d) {
        var lines = d.properties.LINES.split('-');
        var colors = d.properties.COLORS.split('-');
        var textLines = '';
        var i;
        for (i = 0; i < lines.length; ++i) {
            textLines += '<span style="margin-right:10px; font-weight:bold; font-size:120%; color:' + colors[i] + ';">' + lines[i] + '</span>';
        }
        return textLines;
    }
*/
    </script>
