        <div class="padding" id ="map-container">
            {{ url_for(request.endpoint) }}
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <p>Lorem ipsum dolor sit amet, qui ea delenit qualisque, ne duo tollit dolore hendrerit. Exerci postulant eos at, has causae electram id. Legimus contentiones eum te, eos eligendi vituperata ad, no ferri offendit referrentur vis. Homero virtute habemus ad sed, nec ferri viris in. Te labore adolescens ius, his consulatu eloquentiam ea, mea nulla appareat dignissim an. Ei his magna expetenda, nihil copiosae quo ut, percipit insolens mea an.
                        </p>
                    </div>
                    <div class="col-md-8">
                        <div id="map"></div>
                        <div id="rightbox" class="box right-box">
                            <div class="box-title">Informations</div>
                            <br><span style="font-style:italic;">Survolez une station</span>
                            <br><span><a href="../../index.php?page=metro" target="_blank" style="color: #3498db;">Information &amp; Détails techniques</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
