                <div class="row">
                    <div class="col-md-4">
                        <select name="lignes" id="lignes">
                          <option value="first">First Value</option>
                          <option value="second" selected>Second Value</option>
                          <option value="third">Third Value</option>
                        </select>
                            {% for ligne in list_lignes %}
                            {{ ligne[0] }}
                            {% endfor %}
                    </div>
                    <div class="col-md-8">
                        <div id="map"></div>
                        <div id="rightbox" class="box right-box">
                            <div class="box-title">Informations</div>
                            <br><span style="font-style:italic;">Survolez une station</span>
                            <br><span><a href="../../index.php?page=metro" target="_blank" style="color: #3498db;">Information &amp; Détails techniques</a></span>
                        </div>
                    </div>
                </div>

