                <div class="row">
                    <div class="col-md-12" style="margin-top: 10px;margin-bottom: 10px;">
                        <select name="lignes" id="lignes">
                            <option value="">Choisir une ligne</option>
                            {% for ligne in list_lignes %}
                            <option value="{{ ligne[0] }}">{{ ligne[2] }}</option>
                            {% endfor %}
                            <button>Afficher</button>
                        </select>
                    </div>
                    <div class="col-md-12">
                        <div id="map"></div>
                        <div id="rightbox" class="box right-box">
                            <div class="box-title">Informations</div>
                            <br><span style="font-style:italic;">Survolez une station</span>
                            <br><span><a href="../../index.php?page=metro" target="_blank" style="color: #3498db;">Information &amp; Détails techniques</a></span>
                        </div>
                    </div>
                </div>

