    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Lignes RATP">
    <meta name="author" content="">
    <title>{{ titre }}</title>

    <!-- Bootstrap Core CSS -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}">

    <!-- Theme CSS -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/freelancer-theme.min.css') }}">

    <!-- Custom CSS -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

    <!-- Style CSS -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- LeafLetJs CSS -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='leaflet/leaflet.css') }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}" charset="utf-8"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}" charset="utf-8"></script>

    <!-- Theme JavaScript -->
    <script src="{{ url_for('static', filename='js/freelancer-theme.min.js') }}" charset="utf-8"></script>

    <!-- leafletjs JS -->
    <script src="{{ url_for('static', filename='leaflet/leaflet.js') }}" charset="utf-8"></script>

    <!-- tile.stamen JS -->
    <script src="{{ url_for('static', filename='js/tile.stamen.js') }}" charset="utf-8"></script>

    <!-- d3.v3 JS -->
    <script src="{{ url_for('static', filename='js/d3.v3.min.js') }}" charset="utf-8"></script>

    <!-- queue.v1 JS -->
    <script src="{{ url_for('static', filename='js/queue.v1.min.js') }}" charset="utf-8"></script>

    <style type="text/css">
        .station {
            stroke: black;
        }

        .line {
            stroke-width: 5;
            fill: none;
            z-index: 1;
        }

        .box {
            background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
            border-radius: 6px;
            box-sizing: border-box;
            display: none;
            padding: 10px;
            display: block;
            color: #777;
        }

        .box-title {
            width: 100%;
            font-weight: bold;
            font-size: 150%;
            border-bottom: 1px solid #777;
        }

        .right-box {
            margin-right: 15px;
            position: absolute;
            right: 15px;
            top: 15px;
            min-width: 300px;
            z-index: 1000;
        }
    </style>
